/* FONTS */

@font-face {
    font-family: "Space Grotesk";
    src: url('/src/assets/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Space Grotesk";
    src: url('/src/assets/fonts/SpaceGrotesk-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* ROOT COLORS */

:root {
    --gray-primary: #eeeeee;
    --gray-darker: #cfd3d6;
    --gray-placeholder: #a4a3a4;
    --white: #ffffff;
    --gray-light: #F5F6F7;
    --black: #000;
    --gray-dark: #1b191c;
    --yellow: #f8d231;
    --yellow-darker: #c6a827;
    --gray-range-line: #ADACAD;
  }

/* RESET STYLES */

* {
    margin: 0;
    padding: 0;
    outline: none;
}
*:focus {
    outline: none;
}
a, button {
    cursor: pointer;
}

/* ___________________ */
/* MAIN CONTENT STYLES */
/* ___________________ */

body {
    font-family: 'Space Grotesk', sans-serif;
    min-height: 100vh;
    border: 12px solid var(--gray-dark);
}

/* 1.PROMO */

.promo__container {
    background-color: var(--gray-primary);
    box-sizing: border-box;
    display: flex;
    padding: 40px;
}
.promo__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    height: 410px;
    width: 40%;
    justify-content: space-between;
}
.promo__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.privacy {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 4px;
}
.promo__title {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1px;
    color: var(--black);
}
.promo__description {
    font-weight: 300;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: var(--gray-dark);
}
.privacy span, .privacy a {
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.3px;
    color: var(--gray-dark);
}
.privacy span {
    font-weight: 300;
}
.privacy a {
    font-weight: 400;
    cursor: pointer;
}

/* 2.FORM */

.form {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
}
.form__label {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    letter-spacing: -0.4px;
    color: var(--gray-dark);
}
.form__input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}
.form__input {
    box-sizing: border-box;
    padding: 32px 16px;
    width: calc(100% - 96px);
    height: 96px;
    border: none;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: -0.4px;
}
.form__input:disabled {
    background-color: var(--white);
}
.form__input::placeholder {
    color: var(--gray-placeholder);
}
.form__button {
    width: 96px;
    height: 96px;
    cursor: pointer;
    border: none;
    background: url('/src/assets/images/submit_arrow.svg') no-repeat 50% , var(--yellow);
}
.form__error {
    color: var(--yellow-darker);
    font-size: 12px;
}

/* 3.PLAYER */
.player__wrapper  {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    box-sizing: border-box;
    justify-content: center;
}

.player__content {
    gap: 20px;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.player__box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    height: 198px;
    background: var(--gray-darker);
}

.player__back-button {
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: #1B191C;

}
.player__play-pause-button {
    border: none;
    width: 40px;
    height: 40px;
}
.player__play-button {
    background: url('../images/play_icon.svg') no-repeat 50%;
}
.player__pause-button {
    background: url('../images/pause_icon.svg') no-repeat 50%;
}



/* Progress Thumb */
.player__audio-progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 12px;
    background-color: var(--white);
    border-radius: 6px;
    border: none;
}
.player__audio-progress::-moz-range-thumb {
    width: 16px;
    height: 12px;
    background-color: var(--white);
    border-radius: 6px;
    border: none;
}
.player__audio-progress::-ms-thumb {
    width: 16px;
    height: 12px;
    background-color: var(--white);
    border-radius: 6px;
    border: none;
}
/* Progress Track */

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
}
.player__audio-progress {
    width: 100%;
    height: 2px;
    background: linear-gradient(var(--white), var(--white)) no-repeat, var(--gray-range-line);
    cursor: pointer;
}
.player__audio-progress::-webkit-slider-runnable-track  {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
.player__audio-progress::-moz-range-track  {
    width: 100%;
    cursor: pointer;
    background: linear-gradient(var(--white), var(--white)) no-repeat, var(--gray-range-line);
    border-color: transparent;
    color: transparent;
    padding: 6px 0;
  }
.player__audio-progress::-ms-track  {
    width: 100%;
    cursor: pointer;
    background: linear-gradient(var(--white), var(--white)) no-repeat, var(--gray-range-line);
    border-color: transparent;
    color: transparent;
}

.player__counter-progress {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.3px;
    color: #1B191C;
}
.player__counter-volume-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 16px;
}

/* Volume Thumb */
.player__volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 12px;
    background-color: var(--black);
    border: none;
}
.player__volume::-moz-range-thumb {
    width: 16px;
    height: 12px;
    background-color: var(--black);
    border: none;
}
.player__volume::-ms-thumb {
    width: 16px;
    height: 12px;
    background-color: var(--white);
    border: none;
}
/* Volume Track */

.player__volume {
    width: 160px;
    height: 2px;
    background: linear-gradient(var(--black), var(--black)) no-repeat, var(--white);
    cursor: pointer;
}
.player__volume::-webkit-slider-runnable-track  {
    width: 160px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
.player__volume::-moz-range-track  {
    width: 160px;
    cursor: pointer;
    background: linear-gradient(var(--black), var(--black)) no-repeat, var(--white);
    border-color: transparent;
    color: transparent;
    padding: 6px 0;
  }
.player__volume::-ms-track  {
    width: 160px;
    cursor: pointer;
    background: linear-gradient(var(--black), var(--black)) no-repeat, var(--white);
    border-color: transparent;
    color: transparent;
}

/* 4.HOWTO */

.howto__container {
    background-color: var(--gray-dark);
    padding: 120px 40px;
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.howto__wrapper {
    display: flex;
}
.howto__description-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.howto__title {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1px;
    color: var(--gray-light);
}
.howto__description {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: var(--gray-primary);
}
.howto__illustration-content {
    width: 50%;
}
.howto__illustration {
    background-image: url('/src/assets/images/Illustration.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}

/* 5.TABS */

.requirements__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.requirements__title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: var(--gray-light);
}
.tabs {
    display: flex;
    gap: 16px;
}
.tab-link {
    font-family: 'Space Grotesk', sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: var(--gray-darker);
    opacity: 0.4;
    padding: 1px 0;
}
.tab-link--active {
    opacity: 1;
    color: var(--gray-light);
    text-decoration: underline;
    text-underline-offset: 7px;
}
table {
    border-collapse: collapse;
    width: 50%;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: var(--gray-primary);
}
tr {
    border-bottom: 1px solid var(--gray-darker);
}
td {
    padding: 10px 0;
}
.parameter {
    width: calc(100% / 3);
}
.value {
    width: calc(100% * 2 / 3);
}
.tab {
    display: none;
    align-items: flex-start;
    gap: 48px;
}
.tab--active {
    display: flex;
}